@import './base.css';

#app {
  font-weight: normal;
  max-width: 1280px;
  background: var(--color-background);
  height: 100vh;
  overflow-y: scroll;
  margin: auto;
}

a,
.green {
  text-decoration: none;
  color: rgb(0, 255, 215);
  transition: 0.4s;
  padding: 10px;
  font-size: 1.5rem;
  border-radius: 10px;
}

button {
  background-color: rgb(0, 255, 215);
  color: var(--vt-c-black);
  padding: 5px;
  cursor: pointer;
  transition: 0.4s;
  padding: 10px;
  border-radius: 10px;
  font-size: larger;
  font-size: 1.5rem;
  border: 0;
}

/* Scrollbar styles */

/* width */
::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@media (hover: hover) {
  a:hover {
    background-color: rgba(0, 189, 161, 0.096);
  }

  button:hover {
    background-color: rgb(0, 189, 160);
  }
}

@media only screen and (min-width: 1280px) {
  #app {
    max-width: 60vw;
    min-width: 1280px;
  }
}

@media only screen and (max-width: 500px) {
  #app {
    display: flex;
    flex-direction: column;
    max-height: 100vh;
    overflow-x: hidden;
  }
}